section#about.about.section__padding
  .grid__container.grid__container-medium
    article.about__container
      .about__left
        h2.titles.about__title Наша история
        .underline
        p.about__text.
          Чашка Кофейского - это прежде всего кофе. И этот кофе вкусный. Вкусный - потому что свежий, мастерски  приготовленный и правильно поданный. В общем - настоящий. Мы сами выбираем и покупаем самый лучший зеленый кофе, сами его обжариваем и готовим на профессиональном оборудовании. Правда, иногда случается так, что одним кофе сыт не будешь. Поэтому в наших кофейнях можно вкусно поесть и найдётся что выпить.
        p.about__text.
          Посетителями кофейни, а со временем и завсегдатаями стала творческая публика, перспективная молодежь и деловые люди. Следуя требовательным вкусам  кофеманов, мы стали искать еще более вкусный кофе.
      .about__img
        img.img__item(src="/img/picture-1.jpg", alt="picture-1")
    article.about__container
      .about__left
        h2.titles.about__title о кофе
        .underline
        p.about__text.
          Зерна, из которых делают кофе, - это обжаренные семена из фрукта, который называют кофейная вишня. Если такую ​​вишенку раскусить, внутри вы найдете две сплющенные косточки-семечки.
        p.about__text.
          Люди веками пьют кофе, но некоторые больше любят его есть. Некоторые компании также используют остатки кофейной ягоды для изготовления муки. Из него делают пирожные, хлеб, шоколад, соусы и другие продукты.
        p.about__text.
          Циветта или слон? Самый дорогой кофе проходит через кишечник этих животных. Копи лювак - это кофе из испражнений похожего на кота животного - азиатской пальмовой циветты. Кофейные ягоды ферментируются, пока проходят через пищеварительный тракт животного, после чего их собирают и продают.
      .about__img.about__img-special
        img.img__item(src="/img/picture-2.jpg", alt="picture-2")
