section#drink.drink.section__padding
  .grid__container
    form.drink__form
      span.drink__form-feedback some text
      h3.titles.drink__form-title Заказать напиток
      .drink__form-input
        input#name.input__name(type="text", name="" maxlength="15" placeholder="имя")
      .drink__form-input
        input#lastname.input__lastname(type="text", name="" maxlength="15" placeholder="фамилия")
      .drink__form-input
        input#email.input__email(type="email", name="" maxlength="25" placeholder="email")
      input#submit.input__submit(type="submit" value="подписаться")
    article.drink__card
      h3.titles.drink__card-title счастливчики:
      .drink__card-list
