header#header.header
  include ../components/navbar
  include ../components/banner
  include ../components/socials
  include ../components/video
  include ../components/menu
  include ../components/switcher