doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Чашка Кофейского
  body
    include components/preloader
    include layout/header
    include sections/about
    include sections/drinks
    include sections/works
    include sections/contact
    include layout/footer