:root {
  // --header-height: 140px;
  --footer-height: 140px;

  --brightYellow: #e3b505;
  --darkBrown: #bb9457;
  --yellow: rgb(242, 180, 80);
  --brown: #382923;
  --brightBrown: #5c4339;
  --black: #191919;
  --grey: #a9b2ac;
}
