nav.navbar
  ul.navbar__list
    li.navbar__item
      a.navbar__link(href="#")
        include ./logo
    li.navbar__item
      a.navbar__link(href="#header") главная
    li.navbar__item
      a.navbar__link(href="#about") о нас
    li.navbar__item
      a.navbar__link(href="#drink") заказать
    li.navbar__item
      a.navbar__link(href="#work") кофе
    li.navbar__item
      a.navbar__link(href="#contact") контакты