article.video__container
  video.video__item(autoplay muted loop)
    source(src="/img/Espresso.mp4", type="video/mp4")
    source(src="/img/Espresso.ogv", type="video/ogv")
    source(src="/img/Espresso.webm", type="video/webm")
    | Ваш браузер не поддерживает видео тэг
